body{
    font-family: "Open Sans", sans-serif;
    }

h1, h2, h3 {
    font-family: "Lobster",cursive;
}

h2 {
    color: blue;
}

header h2{
    color:cornsilk;
}

.site-footer{
    background-image: linear-gradient(#CEC8FF,white);
    padding-top:20px 0px;
}

.jumbotron{
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
}

.row-content{
    min-height: 200px;
    padding: 50px 0;
    border-bottom: 1px ridge;
}

.navbar{
    background-color: #901CAD;
}